@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body{
    height: 130vh;
}


.galeria{
    margin: .4rem;
    height: 26rem;
    width: auto;
    margin-bottom: .5rem;
    border-radius: .8rem;
    background-color: #e2f2ff;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.8);*/
}
img{
   height: 100%;
   width: 100%;
   border-radius: .8rem;
    
}
#section{
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 85vh;
    width: auto;
    padding: 1rem;
   

}

#verMas{
    color: white;
    background-color: rgb(21, 189, 77);
}

div.panel,p.sobreLaEmpresa{
line-height: 8vh;
margin:auto;
font-size:16px;
padding: 1rem;;
text-align:left;
background:rgb(21, 189, 77);
border:solid 1px rgb(196, 209, 16);
color:#ffffff;
border-radius:3px;
}

div.panel{
display:none;
}
span{
    padding: 1rem;
    border:solid 1px rgb(196, 209, 16);
    color:   rgb(196, 209, 16);
    border-radius:3px;
    font-weight: 500;
    cursor:pointer;
    transition: 0.5s;
}

span:hover{
    transition: 0.6s;
    background-color:  rgb(196, 209, 16);
    color: rgb(25, 165, 71);
}

.box{
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
}

